<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<appSettings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/wNLRD8qrky7cGnD1SGYSAQAAAACAAAAAAAQZgAAAAEAACAAAABME0HiCdwC7Bs2yY6zo/sTYKmmbq5uZ4imNrBAZO13+AAAAAAOgAAAAAIAACAAAACSAIKIZ6dxYeFZWZT7eU6Vpn2oggIxWhDL4lACYc6ubHABAACoFpO51BYd9Fm4wpBpEhmQtUtVaY3ZzoZ2QiEbwW46isP6oaiIOHu5dbQGkeA8b7VhAPckXNOKNYs9BIoy2jIKPbTimblkmxyMDhKPXWw39bulXCA+Nti1ycpV2i84mEyNa3dy4AIQIuIjLQNguFBnL/A5/HY/ex//FcSYvxhKfSyrUPp9c7+WqpJHtHHezxwAk3r7vF8yYchjyDsiEUSkUmXeOQQ5QHtdQkNgQK+scckFsyz58f2huXoCUpy/7hmn70AIaSd2CWRtE0UQsEOCuUQ/vQQiMt0tpr2OipIjy5DO6/65ZMNPel9UPXA8n65JsVl4a3n8hda/PmJBBhLeaPc67YJcOJBro/ebgjWvB64rfED2qMsEbrC1frIwwfPHNklL8Xl0SrdyxduJluDdj6gequlhsGEDKsnl5Usc1g88GMI7X5R2YApqYHhdFkkIQP95dD9fmpWYOCGUglz2z0wjz+br0mi2/N6Ejbc8b0AAAADMXamoaW4ZXVoIqEoae/mJRVFU56kHrCYzYO2CHy7HI6uIOo6zIuk0luwFlzQ8G5e9SLa48k4dKIjb25Qw5JfR</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<authentication>
				<clientCertificateMappingAuthentication enabled="true" />
			</authentication>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>